pipenv==2024.1.0
Django==4.2.11
phonenumbers==8.13.47
django-phonenumber-field==8.0.0
djangorestframework
markdown
django-filter
drf-spectacular
djangorestframework-simplejwt==5.3.1
django-environ==0.11.2
uWSGI==2.0.24
psycopg2-binary

# [dev-packages]
isort
black
autoflake
flake8
pre-commit